menu
  nav.nav
    input.nav__cb(type="checkbox", id="menu-cb")
    div.nav__content
      ul.nav__items
        li.nav__item
          span.nav__item-text  밥먹었어?
        li.nav__item
          span.nav__item-text  물먹었어?
        li.nav__item
          span.nav__item-text  잘있었어?
        li.nav__item
          span.nav__item-text  리모콘
    label.nav__btn(for="menu-cb") 