.social-login
    button.social-login--google
        a(href=`${routes.google}`)
            span 
            | Google
    button.social-login--kakao(onClick="kakaoLogin()") kakaoLogin
    button.social-logout--kakao(onClick="kakaoLogout()") kakaoLogout
    input#userinfo(value='')


    


