doctype html
html
    head
        link(rel="shortcut icon" href="#")
        link(rel="stylesheet", href="/static/styles.css")
        script(href="logout.js")
        title #{pageTitle} | #{siteName}
    body
        include ../partials/header
        main
            block content
        include ../partials/footer