extends layouts/main

block content
    .wrapper
        .form-container
            p.sign 로그인
                form(action=routes.login, method="post")
                    input(type="email", name="email", placeholder="이메일", required=true)
                    input(type="password", name="password", placeholder="비밀번호", required=true)
                    input(type="submit",value="로그인")
                    p.forgot 비밀번호를 잊으셨습니까?