extends layouts/main
include mixins/boardBlock

block content
    .search__header
        h3 Searching for #{searchingBy}
    .search__boards
        each item in boards
            +boardBlock({
                title:item.title,
                views:item.views,
                boardFile:item.boardFile
            }) 