extends layouts/main
include mixins/videoBlock
include mixins/photoBlock

block content
    .search__header
        h3 Searching for #{searchingBy}
    .search__videos
        if videos.length === 0
            h5 No videos Found
        each item in videos
            +videoBlock({
                title:item.title,
                views:item.views,
                videoFile:item.videoUrl,
                id:item.id
            })

    .search__photos
        if photos.length === 0
            h5 No photos Found
        each item in photos
            +photoBlock({
                id:item.id
                title:item.title,
                views:item.views,
                photoFile:item.photoUrl,
            })