mixin boardBlock(board = {})
    .boardBlock
        a(href=routes.boardDetail(board.id))
            video.boardBlock__thumbnail(src=board.boardFile, controls="controls")
            h4.boardBlock__title=board.title
            h6.boardBlock__views=board.views