.video-detail__container {
  display: flex;
  flex-direction: column;
  margin-top: 400px;
  align-items: center;
  .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
    button {
      width: 100px;
      margin-bottom: 25px;
    }
    .video__author {
      a {
        color: $bg;
      }
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 22px;
      font-weight: 300;
    }
    .video__views {
      font-size: 14px;
    }
    .video__description {
      font-size: 16px;
    }
  }
  #jsAddVideoComment {
    margin-top: 10px;
    position: relative;
    color: #000;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #008a00;
    padding: 13px;
    margin-bottom: 15px;
    width: 750px;
    .jsDeletePhotoInput.visible {
      border: 2px solid #008a00;
    }
  }
  .video__comments {
    margin-top: 25px;
    .video__comment-number {
      position: right;
      font-size: 18px;
    }
    .video__comments-list {
      margin-top: 15px;
      li {
        display: flex;
        // justify-content: space-between;
        a {
          color: green;
        }
        .jsDeleteVideoComment {
          .jsDeleteVideoBtn {
            background: #15aa52;
            width: 30px;
            height: 25px;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: 800ms ease all;
            outline: none;
          }
          button:hover {
            background: #fff;
            color: #1aab8a;
          }
          button:before,
          button:after {
            top: 0;
            right: 0;
            height: 2px;
            width: 0;
            background: #15aa52;
            transition: 400ms ease all;
          }
        }
        .jsUpdateVideoComment {
          .jsUpdateVideoBtn {
            background: #15aa52;
            color: #fff;
            border: none;
            outline: none;
            width: 29px;
            height: 25px;
            cursor: pointer;
          }
          button:hover {
            background: #fff;
            color: #1aab8a;
          }
          button:before,
          button:after {
            top: 0;
            right: 0;
            height: 2px;
            width: 0;
            background: #15aa52;
            transition: 400ms ease all;
          }
          .jsUpdateVideoInput {
            display: none;
          }
          .visible {
            display: block;
          }
        }
      }
    }
  }
}
